.text-decoration-none{
    font-size: 70%;
    font-family:"Arial";
    color:black;
}

.producto{
    font-size: 80%;
    font-family: "Arial";
    color:gray;
}

.precio{
    font-size: 150%;
    font-family: "Arial";
}

#aggCart{
    color:white;
    font-family: "Arial";
    font-size: 60%;
}

#aggProd{
    font-family: Arial;
    font-size: 60%;
}

#detalles{
    color:gray;
    font-family: "Arial";
    border: gray;
    font-size: 60%;
}

#store{
    font-size: 300%;
    font-family: "Segoe UI";
}

#pag{
    font-size: 75%;
    font-family: "Arial";
    color:gray;
}

#tip{
    font-size: 70%;
    font-family: "Arial";
    color: gray;
}